/* Unicode-hex v 15.1 */

$emoji-font-family: 'Noto Color Emoji', sans-serif;
$emoji-font-size: 28px;

@mixin emoji-style($content) {
    &::before {
      font-family: $emoji-font-family;
      font-size: $emoji-font-size;
      content: $content;
    }
  }

.custom-emoji-1 {
  @include emoji-style("\1F50D"); 
}

.custom-emoji-2 {
  @include emoji-style("\1F970"); 
}

.custom-emoji-3 {
  @include emoji-style("\1F605"); 
}

.custom-emoji-4 {
  @include emoji-style("\1F37F"); 
}

// Ruoka 

.custom-emoji-10 {
  @include emoji-style("\1F347"); 
}

.custom-emoji-11 {
  @include emoji-style("\1F349"); 
}

.custom-emoji-12 {
  @include emoji-style("\1F34A"); 
}

.custom-emoji-13 {
  @include emoji-style("\1F34C"); 
}

.custom-emoji-14 {
  @include emoji-style("\1F34E"); 
}

.custom-emoji-15 {
  @include emoji-style("\1F353"); 
}

.custom-emoji-16 {
  @include emoji-style("\1F955"); 
}

.custom-emoji-17 {
  @include emoji-style("\1F966"); 
}

.custom-emoji-18 {
  @include emoji-style("\1FADB"); 
}

.custom-emoji-19 {
  @include emoji-style("\1F35E"); 
}

.custom-emoji-20 {
  @include emoji-style("\1F95E"); 
}

.custom-emoji-21 {
  @include emoji-style("\1F9C0"); 
}

.custom-emoji-22 {
  @include emoji-style("\1F356"); 
}

.custom-emoji-23 {
  @include emoji-style("\1F357"); 
}

.custom-emoji-24 {
  @include emoji-style("\1F369"); 
}

.custom-emoji-25 {
  @include emoji-style("\1F953"); 
}

.custom-emoji-26 {
  @include emoji-style("\1F355"); 
}

.custom-emoji-27 {
  @include emoji-style("\1F32E"); 
}

.custom-emoji-28 {
  @include emoji-style("\1F95A"); 
}

.custom-emoji-29 {
  @include emoji-style("\1F957"); 
}

.custom-emoji-30 {
  @include emoji-style("\1F37F"); 
}

.custom-emoji-31 {
  @include emoji-style("\1F361"); 
}

.custom-emoji-32 {
  @include emoji-style("\1F366"); 
}

.custom-emoji-33 {
  @include emoji-style("\1F369"); 
}

.custom-emoji-34 {
  @include emoji-style("\1F36A"); 
}

.custom-emoji-35 {
  @include emoji-style("\1F370"); 
}

.custom-emoji-36 {
  @include emoji-style("\1F368"); 
}

.custom-emoji-37 {
  @include emoji-style("\2615"); 
}

.custom-emoji-38 {
  @include emoji-style("\1F379"); 
}


// Paikat

.custom-emoji-39 {
  @include emoji-style("\1F3D4"); 
}

.custom-emoji-40 {
  @include emoji-style("\1F3D6"); 
}

.custom-emoji-41 {
  @include emoji-style("\1F3DE"); 
}

.custom-emoji-42 {
  @include emoji-style("\1F3D8"); 
}

.custom-emoji-43 {
  @include emoji-style("\1F3E1"); 
}

.custom-emoji-44 {
  @include emoji-style("\1F3E5"); 
}

.custom-emoji-45 {
  @include emoji-style("\1F3E6"); 
}

.custom-emoji-46 {
  @include emoji-style("\1F3E9"); 
}

.custom-emoji-47 {
  @include emoji-style("\1F3EB"); 
}

.custom-emoji-48 {
  @include emoji-style("\1F3EA"); 
}

.custom-emoji-49 {
  @include emoji-style("\1F60D"); 
}


//Sääolosuhteet

.custom-emoji-50 {
  @include emoji-style("\1F4A8"); 
}

.custom-emoji-51 {
  @include emoji-style("\2600"); 
}

.custom-emoji-52 {
  @include emoji-style("\1F327"); 
}

.custom-emoji-53 {
  @include emoji-style("\2744"); 
}

.custom-emoji-54 {
  @include emoji-style("\2601"); 
}

// Muut

.custom-emoji-55 {
  @include emoji-style("\1F49C"); 
}

.custom-emoji-56 {
  @include emoji-style("\1F9F7"); 
}

.custom-emoji-57 {
  @include emoji-style("\1F9FB"); 
}

.custom-emoji-58 {
  @include emoji-style("\1F9FA"); 
}

.custom-emoji-59 {
  @include emoji-style("\1F911"); 
}

.custom-emoji-60 {
  @include emoji-style("\1F5D2"); 
}

.custom-emoji-61 {
  @include emoji-style("\1F4B0"); 
}

.custom-emoji-62 {
  @include emoji-style("\1F4DC"); 
}

.custom-emoji-63 {
  @include emoji-style("\1F4FA"); 
}

.custom-emoji-64 {
  @include emoji-style("\1F4BF"); 
}

.custom-emoji-65 {
  @include emoji-style("\1F4F1"); 
}

.custom-emoji-66 {
  @include emoji-style("\1F3B7"); 
}

.custom-emoji-67 {
  @include emoji-style("\1F48E"); 
}

.custom-emoji-68 {
  @include emoji-style("\1F9E2"); 
}

.custom-emoji-69 {
  @include emoji-style("\1F460"); 
}

.custom-emoji-70 {
  @include emoji-style("\1F45F"); 
}

.custom-emoji-71 {
  @include emoji-style("\1F45E"); 
}

.custom-emoji-72 {
  @include emoji-style("\1F461"); 
}

.custom-emoji-73 {
  @include emoji-style("\1F576"); 
}

.custom-emoji-74 {
  @include emoji-style("\1F9F6"); 
}

.custom-emoji-75 {
  @include emoji-style("\1F9F8"); 
}

.custom-emoji-76 {
  @include emoji-style("\1F94E"); 
}

.custom-emoji-77 {
  @include emoji-style("\1F3C0"); 
}

.custom-emoji-78 {
  @include emoji-style("\1F3C6"); 
}




// cloud 2601
// halfsunny 26C5
// thunder 26C8
// halfsunny2  1F324

// sunny 2600   emoji 51
// rainy 1F327 emoji52
// snow 1F328 emoji53




// Jemmaan esim. ruoka- ja juomaemojit, maisemat, paikat
// Sääolosuhteet (sääkartalle)
// nuolet? ehkä
// cross mark 274C
// suomilippu 1F1EB  / 1F1EE

