@import "emojis";

$dancing: 'Dancing Script', cursive;
$archivo: 'Archivo Narrow', sans-serif;
$segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$shadow1: 2px 2px 4px rgba(0, 0, 0, 0.5);
$shadow2: 0px 0px 10px rgba(0, 0, 0, 0.5);
$wave: 5s infinite linear;
$trlate50: translateX(-50%);
$black: #000000;
$orangeStrong: #d85b00;
$orangeBright: #d77809;
$orangeMid: #e08918;
$orangeLight: #dab05e;
$greenDark: #1d3c10;
$greenLight: #5fb438;
$greyDark: #2c2c2c;
$greyLight: #9a9a9a;
$blueDeep: #02142c;
$blueStrong: #14283e;
$blueDark: #14345e;
$blueAsh:#284871;
$blueBright: #095fcf;
$blueMid: #6d8dcb;
$blueLight: #9ccbfc;
$peach: #f8e4cc;
$plum: #722457;
$borderStrong: 2px solid;
$borderLight: 1px solid;
$borderVeryLight: 1px dashed;
$linearblue: linear-gradient(to right, $blueBright, $blueDark); 

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wh;
    margin: 0;
    background-color: #e6e6e6;
    font-family: $segoe;
    font-size: 1.2em;
}

#error-msg {
    display: none;
}

#header {
    margin: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;

    img {
        z-index: 1; 
    }
}

#colorbar {
    position: absolute;
    top: 420px;
    left: 0;
    height: 190px; 
    width: 100vw;
    border-top: $borderStrong $black;
    border-bottom: $borderStrong $black;
    background: $linearblue;
    z-index: 2; 
    opacity: 0.9;
}

#container {
    margin: 0 auto;
    margin-top: 22px;
    padding-top: 44px;
    width: 100vw;
    max-width: 1400px;
    align-items: center;
    justify-content: center; 
    background-color: #ffffff;
    overflow: hidden;

    #content {
        padding-left: 20px;
        padding-right: 20px; 
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    .content-box, #seppo-container {
        padding: 10px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: $peach;
        text-align: center;
        align-items: center;
        width: 35%;
        border: $borderStrong $orangeLight;
        border-radius: 8px;
        font-weight: 600;
        font-style: italic;
        color: #131b39;
    }
}

#ballgame {
    position: relative;
    padding-top: 60px;

    #ballgame-jump {
        position: absolute;
        bottom: 0;
        left: 80%;
        transform: $trlate50;
        transition: transform 0.3s;
    }
    #ballgame-ball {
        position: absolute;
        bottom: 100px;
        left: 80%;
        transform: $trlate50;
        width: 50px;
        height: 50px;
        background-color: $greenLight;
        border: $borderStrong $greenDark;
        border-radius: 50%;
        cursor: pointer;
    }
}

.page {
    padding-left: 30px;
    padding-right: 50px;
}

.aside {
    margin: 0 auto;
    width: 20%;
    margin-right: 20px;
    border-left: $borderVeryLight $greyLight;
    padding-left: 22px; 
}

img.tiny {
    border: $borderVeryLight $greyDark;
    border-radius: 8px;
}

.hide {
    display: none;
}

ul.navi {
    list-style-type: none;
    font-family: $archivo;
    font-size: 2em;
    color: #ffffff;
    animation: headerWave $wave;
    position: absolute;
    text-align: center; 
    top: 500px;
    z-index: 3;
}

ul.navi li {
    display: inline;
    margin-right: 20px; 
}

ul a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: $shadow1;
}

ul a:hover {
    text-decoration: none;
    color: #02142c;
}

a {
    text-decoration: none;
}

@keyframes headerWave {
    0% {
        color: $orangeMid;
    }
    50% {
        color: $orangeLight;
    }
    100% {
        color: $orangeMid;
    }
}

span {
    color: $blueStrong;
}

span:hover {
    color: $blueLight;
}

h1 {
    font-family: $dancing;
    font-size: 3.8em;
    color: #ffffff;
    text-shadow: $shadow1;
    animation: headerWave $wave;
    position: absolute;
    text-align: center; 
    top: 385px;
    z-index: 3;
}

h2 {
    font-family: $archivo;
    font-size: 2em;
    color: $plum;
}

h3 {
    font-family: $archivo;
    font-size: 2em;
    color: $orangeStrong;
}

h4 {
    font-family: $archivo;
    font-size: 2em;
    color: $blueAsh;
}

h5 {
    font-family: $archivo;
    font-size: 1.2em;
    color: $blueAsh;
}

.shadow {
    box-shadow: $shadow2;
    overflow: hidden;
}

#healthbar {
    height: 25px;
    border: $borderLight $black;
    max-width: 200px;
    #current-health {
        height: 25px;
        width: 0%; 
        transition: width 0.5s;
        #healthtext {
            padding: 85px;
            color: $black;
        }
    }
}

input {
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    width: 110px;
    height: 45px;
    border-radius: 4px;
}

input:focus {
    background-color: $blueLight;
}

button {
    background-color: $blueAsh;
    font-size: 0.9em;
    color: #ffffff;
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 4px;
}

button:hover {
    background-color: $blueMid;
}

@import "media-query";